<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Images"
            id="pl.zgora.uz.imgpro.images.viewer">
      </category>
      <view
            name="Image Preview"
            icon="icons/properties.jpg"
            category="pl.zgora.uz.imgpro.images.viewer"
            class="pl.zgora.uz.imgpro.images.view.ImageView"
            id="pl.zgora.uz.imgpro.ImageView">
      </view>
   </extension>

</plugin>
