a#mdt_overview img { background-image : url('../../mdt48.gif'); }
a#mdt_overview:hover img { background-image : url('../../mdt48.gif'); }
a#mdt_tutorial img { background-image : url('../../mdt48.gif'); }
a#mdt_tutorial:hover img { background-image : url('../../mdt48.gif'); }
a#mdt_whatsnew img { background-image : url('../../mdt48.gif'); }
a#mdt_whatsnew:hover img { background-image : url('../../mdt48.gif'); }